[submodule "armangrewal007-py"]
	path = armangrewal007-py
	url = git@github.com:ArmanGrewal007/armangrewal007-py.git
	branch = master
[submodule "homebrew-armangrewal007"]
	url = git@github.com:ArmanGrewal007/homebrew-armangrewal007.git
	path = homebrew-armangrewal007
[submodule "armangrewal007-npm"]
	path = armangrewal007-npm
	url = git@github.com:ArmanGrewal007/armangrewal007-npm.git
[submodule "armangrewal007-apt"]
	path = armangrewal007-apt
	url = git@github.com:ArmanGrewal007/armangrewal007-apt.git
[submodule "armangrewal007-site"]
	path = armangrewal007-site
	url = git@github.com:ArmanGrewal007/armangrewal007-site.git
