[submodule "armangrewal007-py"]
	path = armangrewal007-py
	url = git@github.com:ArmanGrewal007/armangrewal007-py.git
	branch = master
[submodule "homebrew-armangrewal007"]
	url = git@github.com:ArmanGrewal007/homebrew-armangrewal007.git
	path = homebrew-armangrewal007
